@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #fff9f2;
  }
  
  .text-2xl {
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: .03em;
    font-weight: 700
}

    .text-3xl {
        font-size: 1.875rem;
        line-height: 1.3;
        letter-spacing: .035em;
        font-weight: 700
    }

    .text-4xl {
        font-size: 2.25rem;
        line-height: 1.2;
        letter-spacing: .04em;
        font-weight: 700
    }

    .text-5xl {
        font-size: 3rem;
        line-height: 1.1;
        letter-spacing: .04em;
        font-weight: 800
    }

    .text-\[0\.8rem\] {
        font-size: .8rem
    }

    .text-base {
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: .025em;
        font-weight: 400
    }

    .text-lg {
        font-size: 1.125rem;
        line-height: 1.5;
        letter-spacing: .025em;
        font-weight: 600
    }

    .text-sm {
        font-size: .875rem;
        line-height: 1.3;
        letter-spacing: .02em;
        font-weight: 400
    }

    .text-xl {
        font-size: 1.25rem;
        line-height: 1.5;
        letter-spacing: .03em;
        font-weight: 600
    }

    .text-xs {
        font-size: .75rem;
        line-height: 1.2;
        letter-spacing: .02em;
        font-weight: 400
    }
    .object-view-inset {
        object-view-box: inset(-30%);
    }
}

@theme {
    /* Custom theme configurations can be added here */
    --color-primary: #AA0844;
    --color-primary-foreground: #fff9f2;
    --color-secondary: #FD9C2B;
    --color-secondary-foreground: #fff9f2;
    --font-family-paragraph: open sans;
    --font-heading: caveat, cursive;
    --color-background: #fff9f2;
    --color-foreground: #000000;
    --color-soft-peach: #fbdfbe;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px) scale(.95)
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1)
    }
}

@font-face {
    font-family: caveat;
    font-style: normal;
    font-weight: 700;
    src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caveat/v10/Wnz6HAc5bAfYB2Q7azYYiAzcPDKo.woff2") format("woff2");
    unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: caveat;
    font-style: normal;
    font-weight: 400;
    src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caveat/v10/Wnz6HAc5bAfYB2Q7azYYiAzcPDKo.woff2") format("woff2");
    unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: caveat;
    font-style: normal;
    font-weight: 700;
    src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caveat/v10/Wnz6HAc5bAfYB2Q7YjYYiAzcPDKo.woff2") format("woff2");
    unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
    font-family: caveat;
    font-style: normal;
    font-weight: 400;
    src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caveat/v10/Wnz6HAc5bAfYB2Q7YjYYiAzcPDKo.woff2") format("woff2");
    unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
    font-family: caveat;
    font-style: normal;
    font-weight: 700;
    src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caveat/v10/Wnz6HAc5bAfYB2Q7aDYYiAzcPDKo.woff2") format("woff2");
    unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: caveat;
    font-style: normal;
    font-weight: 400;
    src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caveat/v10/Wnz6HAc5bAfYB2Q7aDYYiAzcPDKo.woff2") format("woff2");
    unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: caveat;
    font-style: normal;
    font-weight: 700;
    src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caveat/v10/Wnz6HAc5bAfYB2Q7ZjYYiAzcPA.woff2") format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family: caveat;
    font-style: normal;
    font-weight: 400;
    src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caveat/v10/Wnz6HAc5bAfYB2Q7ZjYYiAzcPA.woff2") format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}
