---
const { projects } = Astro.props;
---

<div
  id="myModal"
  class="hidden fixed z-10 left-0 top-0 w-full h-full overflow-auto bg-white/40"
>
  <!-- Modal content -->
  <div class="bg-white w-max my-[15%] mx-auto p-5 border border-slate-500">
    <span
      id="close"
      class="text-gray-300 float-right text-3xl font-bold hover:text-black hover:cursor-pointer focus:cursor-pointer focus:text-black"
      >&times;</span
    >
    {}
    <div id="modalImageContainer" class="relative overflow-hidden hidden">
      <img
        src=""
        id="modalImage"
        alt="Summer Music Fest Posters"
        class="object-cover group-hover:scale-110 transition-transform duration-700 w-300"
        data-dynamic="alt src"
      />
      <button
        id="prevBtn"
        class="absolute left-0 top-1/2 transform cursor-pointer -translate-y-1/2 bg-gray-200 p-2 rounded"
        >❮</button
      >
      <button
        id="nextBtn"
        class="absolute right-0 top-1/2 transform cursor-pointer -translate-y-1/2 bg-gray-200 p-2 rounded"
        >❯</button
      >
    </div>
    <div id="modalIframeContainer" class="relative overflow-hidden hidden">
      <iframe
        id="modalIframe"
        src=""
        class="w-300 h-200"
        seamless="seamless"
        scrolling="no"
        allow="autoplay; clipboard-read; clipboard-write"></iframe>
    </div>
  </div>
</div>

<style>
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<script define:vars={{ projects }}>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the <span> element that closes the modal
  var span = document.getElementById("close");

  // Get the image element
  var modalImage = document.getElementById("modalImage");

  var modalImageContainer = document.getElementById("modalImageContainer");
  var modalIframeContainer = document.getElementById("modalIframeContainer");

  var prevBtn = document.getElementById("prevBtn");

  var nextBtn = document.getElementById("nextBtn");

  var activeProject = null;
  var currentImageIndex = 0;

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    closeModal();
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      closeModal();
    }
  };

  window.onkeydown = function (event) {
    if (event.key === "Escape" && modal.style.display === "block") {
      closeModal();
    }
  };

  function closeModal() {
    modal.style.display = "none";
    activeProject = null;
    currentImageIndex = 0;
    modalIframeContainer.classList.add("hidden");
    modalImageContainer.classList.add("hidden");
    modalIframeContainer.classList.remove("block");
    modalImageContainer.classList.remove("block");
  }

  function openModal(projectId) {
    activeProject = projects.find((p) => p.id === projectId);
    if (activeProject.data.iframe !== undefined) {
      modalIframe.src = activeProject.data.iframe;
      modalIframeContainer.classList.remove("hidden");
      modalIframeContainer.classList.add("block");
      prevBtn.style.display = "none";
      nextBtn.style.display = "none";
    } else {
      modalImage.src = activeProject.data.images[0];
      modalImageContainer.classList.remove("hidden");
      modalImageContainer.classList.add("block");
    }
    modal.style.display = "block";
  }

  prevBtn.onclick = function () {
    let prevIndex =
      (currentImageIndex - 1 + activeProject.data.images.length) %
      activeProject.data.images.length;
    currentImageIndex = prevIndex;
    modalImage.src = activeProject.data.images[prevIndex];
  };

  nextBtn.onclick = function () {
    let nextIndex = (currentImageIndex + 1) % activeProject.data.images.length;
    currentImageIndex = nextIndex;
    modalImage.src = activeProject.data.images[nextIndex];
  };

  document.openModal = openModal;
</script>
