<section class="pt-2 pb-8 px-6 w-1/2 mx-auto">
  <div class="text-center font-medium text-3xl font-heading text-primary/80">
    <p>
      This portfolio is here to give you a glimpse of my work and help you
      decide if we'd be a great fit for your upcoming projects or team. So go
      on, don't be shy — take a click around!
    </p>
  </div>
</section>
