<section class="pt-2 md:pt-12 pb-2 px-6 w-full md:w-2/3 mx-auto">
  <div
    class="text-center text-xl lg:text-2xl xl:text-3xl font-normal leading-relaxed font-paragraph"
  >
    <p>
      This portfolio is here to give you a glimpse of my work and help you
      decide if we'd be a great fit for your upcoming projects or team. So go
      on, don't be shy — take a click around!
    </p>
  </div>
</section>
