<section class="mx-auto w-full px-6 pt-2 pb-2 md:w-2/3 md:pt-6">
  <div
    class="font-paragraph text-center text-lg leading-relaxed font-normal lg:text-xl xl:text-2xl"
  >
    <p>
      This portfolio is here to give you a glimpse of my work and help you
      decide if we'd be a great fit for your upcoming projects or team. So go
      on, don't be shy — take a click around!
    </p>
  </div>
</section>
