---
import type { RenderedContent } from "astro:content";
import FeaturedList from "./Featured/FeaturedList.astro";
import Modal from "./Featured/Modal.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const marketingProjects: {
  id: string;
  body?: string | undefined;
  collection: "projects";
  data: {
    title: string;
    blurb: string;
    client: string;
    images: string[];
    order: number;
    year?: number[] | undefined;
    iframe?: string | undefined;
    projectType?: string | undefined;
  };
  rendered?: RenderedContent | undefined;
  filePath?: string | undefined;
}[] = [];
const bookProjects: {
  id: string;
  body?: string | undefined;
  collection: "projects";
  data: {
    title: string;
    blurb: string;
    client: string;
    images: string[];
    order: number;
    year?: number[] | undefined;
    iframe?: string | undefined;
    projectType?: string | undefined;
  };
  rendered?: RenderedContent | undefined;
  filePath?: string | undefined;
}[] = [];
const projects = await getCollection("projects");
projects.forEach((project) =>
  ["book", "magazine"].includes(project.data.projectType ?? "")
    ? bookProjects.push(project)
    : marketingProjects.push(project)
);

bookProjects.sort((a, b) => b.data.order.valueOf() - a.data.order.valueOf());
marketingProjects.sort(
  (a, b) => b.data.order.valueOf() - a.data.order.valueOf()
);
---

<section
  id="work"
  class="mx-auto mb-8 flex max-w-400 flex-col items-center px-6 py-2 md:py-4 lg:py-7 xl:py-10"
  transition:animate="fade"
>
  <div class="mt-1 mb-4 text-center md:mb-8">
    <div style="opacity: 1; transform: none;">
      <h2
        class="mb-2 font-heading text-2xl text-primary underline underline-offset-5 md:mb-4 md:text-3xl lg:mb-6 lg:text-4xl xl:text-5xl"
      >
        Featured Projects
      </h2>
    </div>
  </div>

  <div class="flex w-full flex-col items-center pt-6">
    <div class="h-min w-full text-center">
      <h3
        class="mb-2 font-heading text-xl text-primary md:text-2xl lg:text-3xl xl:text-4xl"
      >
        Books & Magazines
      </h3>
    </div>
    <FeaturedList projects={bookProjects} />
  </div>

  <div class="flex w-full flex-col items-center pt-6">
    <div class="h-min w-full text-center">
      <h3
        class="mb-2 font-heading text-xl text-primary md:text-2xl lg:text-3xl xl:text-4xl"
      >
        Marketing
      </h3>
    </div>
    <FeaturedList projects={marketingProjects} />
  </div>

  <Modal projects={projects} />
</section>
