---
import Modal from "./Featured/Modal.astro";
import ParentProjectCard from "./Featured/ParentProjectCard.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.order.valueOf() - a.data.order.valueOf()
);
---

<section
  id="work"
  class="mx-auto mb-8 flex max-w-400 flex-col items-center px-6 py-2 md:py-4 lg:py-7 xl:py-10"
  transition:animate="fade"
>
  <div class="mt-1 mb-4 text-center md:mb-8">
    <div style="opacity: 1; transform: none;">
      <h2
        class="mb-2 font-heading text-2xl text-primary md:mb-4 md:text-3xl lg:mb-6 lg:text-4xl xl:text-5xl"
      >
        Featured Projects
      </h2>
    </div>
  </div>
  <div class="grid w-full grid-cols-1 gap-3 gap-y-6 md:w-3/4 lg:grid-cols-2">
    {
      projects.map(
        (project: {
          id: string;
          data: {
            images: string[];
            client: string;
            year?: number[];
            order?: number;
            title: string;
            blurb: string;
            iframe?: string;
            projectType?: string;
          };
        }) => <ParentProjectCard project={project} />
      )
    }
  </div>
  <Modal projects={projects} />
</section>
