---
import background from "../../public/images/Hero_Image-03.jpg";
---

<div class="min-h-[60vh] md:min-h-[90vh] bg-background pb-0 md:pb-8">
  <section
    class="pb-4 relative w-full mx-0 min-h-[60vh] lg:min-h-[90vh] flex items-center h-full justify-center overflow-hidden"
  >
    <div class="absolute inset-0 z-0">
      <img
        class="w-full h-full object-cover object-[52%] object-view-inset block md:hidden"
        src={background.src}
        alt=""
        fetchpriority="high"
      />
      <img
        class="w-full h-full object-cover hidden md:block"
        src={background.src}
        alt=""
        fetchpriority="high"
      />
      <div class="absolute inset-0 bg-background/30"></div>
    </div>
    <div class="flex flex-col w-1/2 h-[60vh] md:h-[70vh] justify-end items-end">
      <div class="relative z-10 text-center px-6 max-w-4xl">
        <div style="opacity: 1; transform: none;">
          <h1
            class="font-heading hidden text-4xl lg:text-5xl text-primary mb-6 leading-tight"
          >
            Graphic Designer & Creative
          </h1>
          <div style="opacity: 1; transform: none;"></div>
        </div>
      </div>
    </div>
  </section>
</div>
