---
import background from "../../public/images/Hero-Image-Web.jpg";
---

<div
  class="min-h-[60vh] bg-background pb-0 md:min-h-[75vh] md:pb-8 lg:min-h-[90vh]"
>
  <section
    class="relative mx-0 mb-4 flex h-full min-h-[60vh] w-full items-center justify-center overflow-hidden lg:min-h-[90vh]"
  >
    <div class="absolute inset-0 z-0">
      <img
        class="object-view-inset block h-full w-full object-cover object-[60%] lg:hidden"
        src={background.src}
        alt=""
        fetchpriority="high"
      />
      <img
        class="hidden h-full w-full object-cover lg:block"
        src={background.src}
        alt=""
        fetchpriority="high"
      />
    </div>
    <div class="flex h-[60vh] w-1/2 flex-col items-end justify-end md:h-[70vh]">
      <div class="relative z-10 max-w-4xl px-6 text-center">
        <div style="opacity: 1; transform: none;">
          <h1
            class="mb-6 hidden font-heading text-4xl leading-tight text-primary lg:text-5xl"
          >
            Graphic Designer & Creative
          </h1>
          <div style="opacity: 1; transform: none;"></div>
        </div>
      </div>
    </div>
  </section>
</div>
