<nav
  class="absolute top-0 z-20 flex items-center justify-end px-6 py-10 w-[95%]"
>
  <div class="flex items-center text-xl md:text-2xl xl:text-3xl space-x-8">
    <a
      class="font-paragraph text-primary hover:text-secondary transition-colors font-medium"
      href="#work"
      data-discover="true"
    >
      Featured Projects
    </a>
    <span class="text-primary/80 font-normal">|</span>
    <a
      class="font-paragraph text-primary hover:text-secondary transition-colors font-medium"
      href="#contact"
      data-discover="true"
    >
      Contact
    </a>
  </div>
</nav>
