<nav
  class="absolute top-0 z-20 flex w-[95%] items-center justify-end px-6 py-10"
>
  <div class="flex items-center space-x-8 text-xl md:text-2xl xl:text-3xl">
    <a
      class="font-paragraph font-medium text-primary transition-colors hover:text-secondary"
      href="#work"
      data-discover="true"
    >
      Featured Projects
    </a>
    <span class="font-normal text-primary/80">|</span>
    <a
      class="font-paragraph font-medium text-primary transition-colors hover:text-secondary"
      href="#contact"
      data-discover="true"
    >
      Contact
    </a>
  </div>
</nav>
